<p>Shopping Cart </p>

<div class=""  *ngIf="cart$ | async as cart">

<p>
   You have {{ cart.totalItemCount }} items in your cart
   <button *ngIf="cart.items.length" (click)="clearCart()" type="button" class="btn btn-danger ms-3">Clear Cart</button>

</p>

<table class="table ">
  <thead>
    <tr>

       <th scope="col">Product</th>
       <th>thumbnail</th>
       <th class="text-center" style="width: 230px;" scope="col">Quantity</th>
       <th class="text-end" style="width: 200px;"  scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of cart.items">
      <th class="text-start" scope="row">
        {{ item.title }}
      </th>

      <td>
        <div class="image" [style.backgroundImage]="'url('+ item.image +')'"></div>
      </td>

      <td >
       <product-quantity  [product]="item" [shopping-cart]="cart" ></product-quantity>
      </td>
     <td class="text-end"> {{ item.totalPrice | currency:'USD':true }} </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-end">{{ cart.totalPrice | currency:'USD':true}}</th>
    </tr>
  </tfoot>
</table>

<a *ngIf="cart.items.length" routerLink="/checkout" class="btn btn-primary">checkout</a>
</div>


